.tableClass {
  width: 70vw;
  background-color: #0f232e;
  margin: 30px;
}
button {
  border-radius: 10%;
  border-style: none;
  width: 4vw;
}
.tableInfo td {
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
.classes {
  color: #f9a414;
}
.classes th {
  align-self: flex-start;
}

.btnGeneralEdit {
  margin-right: 10px;
}

.btnGeneralEdit:hover {
  background-color: #f9a414;
}
.btnGeneralDelete:hover {
  color: #fff;
  background-color: red;
}
