.form, .form2 {
  background-color: #0f232e;
  color: #f9a414;
  font-size: 15px;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.inputContainer, .form2 {
margin: 5px;
padding: 5px;
}

.input, .form2 {
  margin-left: 15px;
}

.button {
  background-color: #f9a414;
  margin-left: 240px;
}

.buttonClose {
  background-color: #e33613;
}