.table .thTrainers {
  border: 1px solid #d0d0d0;
  text-align: left;
  background-color: #aaa;
  color: #000;
}

.table .tdTrainers, .table .thTrainers {
  padding: 5px;
}

.table .trTrainers:nth-child(even) {
  background-color: #37386730;
}

.table .trTrainers:hover {
  background-color: #FDDBA160;
  transition: 0.4s;
}

.table {
  border: 0.1px solid #aaa;
}

.deleteButton {
  border: 0px;
  background-color: #00000000;
  color: #800b0b;
}

.deleteButton:hover {
  font-size: 18px;
  font-weight: 1200;
  color: #f00;
  transition: 0.3s;
  cursor: pointer;
}