.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container a {
  text-decoration: none;
}
.titleAdmin {
  display: flex;
  width: 64vw;
  justify-content: space-between;
  align-items: center;
}

.titleAdmin button {
  margin-left: auto;
}
.titleAdmin h2 {
  align-self: center;
}
