.table {
  font-style: normal;
  color: #0f232e;
  width: 80vw;
  border-collapse: collapse;
}
.table thead {
  background-color: rgba(55, 56, 103, 0.1);
}
.table th {
  width: auto;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: start;
  padding: 10px;
}
.edit div {
  margin: 0;
}
.edit {
  padding: 0;
}
.delete {
  padding: 0;
}
.delete div {
  margin: 0;
  padding: 0;
}
.table td {
  width: auto;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  word-wrap: break-word;
}
.table tr {
  width: 80vw;
}
.table tr:nth-child(even) {
  background-color: rgba(249, 164, 20, 0.2);
}
.table td:last-child {
  text-align: left;
  width: 0vh;
}
