.form {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #fff;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 40vh;
}

.fieldset {
  display: flex;
  flex-direction: column;
  width: 40%;
}
