.container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.spam {
  color: black;
  font-weight: bold;
}
.mainTitle {
  height: 30vh;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.mainTitle h1 {
  font-size: 24px;
}

.mainTitle h2 {
  font-size: 18px;
  font-weight: normal;
  color: #0f232e;
}
.mainImg {
  height: 35vw;
}

.mainBtn {
  border-radius: 7px;
  border-width: 1px;
  width: 11vw;
  height: 4vh;
}
.mainBtn:hover {
  background-color: #0f232e;
  color: #fff;
}

.learnMore {
  display: flex;
  justify-content: right;
  padding-top: 41px;
}

.sectionServices,
.sectionTrackgenix,
.sectionRequestInformation,
.ourStory,
.sectionLinks,
.socialMedia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 20px;
  border-top: #808080 1px solid;
  border-bottom: #808080 1px solid;
  max-width: 90%;
}
.sectionServices h3 {
  padding-left: 20px;
}

.containerServices {
  display: flex;
  height: 60vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.services {
  width: 36vw;
  height: 23vh;
  display: flex;
}
.servicesMedia {
  display: flex;
}
.servicesMedia img {
  height: 14vh;
  align-self: center;
}
.servicesText h4 {
  border-bottom: 1px solid black;
}
.servicesText {
  padding-left: 20px;
}
.trackgenix {
  display: flex;
  flex-direction: column;
}
.artTrack {
  display: flex;
  max-width: 86vw;
  justify-content: space-around;
  padding-bottom: 20px;
}
.artTrack article {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.artTrack article p {
  font-size: small;
}
.artTrack article button {
  width: 5vw;
  align-self: center;
  border-radius: 7px;
  border-width: 1px;
}
.artTrack article button:hover {
  background-color: #0f232e;
  color: #fff;
}
.information {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.informationForm {
  display: flex;
  width: 27vw;
  flex-direction: column;
  padding-top: 20px;
}
.informationForm label {
  font-weight: 500;
}
.informationForm input {
  width: 29vw;
  padding: 5px;
  border: 1px solid #8f9294;
  border-radius: 4px;
}
.sectionRequestInformation h4 {
  margin: 10px 0px;
}
.contactArea {
  display: flex;
  justify-content: space-evenly;
  width: 44vw;
}
.checkboxContact {
  display: flex;
  width: 17vw;
  align-items: center;
}
.checkboxContact label {
  font-weight: 400;
}
.contactContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.btnContact {
  width: 40vw;
  margin-left: 30px;
}
.btnReset {
  color: #0f232e;
  width: 11vw;
  border-radius: 7px;
  border-width: 1px;
  margin-right: 20px;
}
.btnSend {
  color: #fff;
  background-color: #0f232e;
  width: 11vw;
  border-radius: 7px;
  border-width: 1px;
}
.storyContainer {
  display: flex;
}
.storyContainer img {
  max-width: 24vw;
}
.ourStory p {
  font-size: small;
}
.storyText {
  max-width: 49vw;
}
.linksContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.firstLinks {
  width: 20vw;
}

.firstLinks h4 {
  text-decoration: underline;
  color: #0f232e;
  margin-bottom: 0px;
}
.firstLinks li {
  font-weight: 300;
  color: #0f232e;
  padding-top: 3px;
}
.firstLinks ul {
  margin: 0px;
}
.socialMedia {
  border-top: 3px solid #0f232e;
}
.mediaContainer,
.city,
.rights {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.mediaContainer img {
  max-width: 4vw;
  padding-left: 5px;
}
.rights {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
}
