.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 7vh;
  background-color: #0f232e;
}
.mediaIcon {
  align-self: end;
  padding-right: 10px;
}
.brand {
  color: #f9a414;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  padding-left: 10px;
}

.socialIcon {
  margin-left: 15px;
}
.socialMedia {
  display: flex;
}
.btnHeader {
  padding-right: 10px;
}
.appName {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 390px) {
}
@media screen and (min-width: 750px) {
  .brand {
    font-size: 1.5rem;
  }
}
