.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 7vh;
  background-color: #0f232e;
}

.brand {
  color: #f9a414;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
}

.socialIcon {
  margin-left: 15px;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 390px) {
}
@media screen and (min-width: 750px) {
  .brand {
    font-size: 1.5rem;
  }
}
