.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #fff;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 40vh;
}

.fieldset {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: none;
}
