.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.fieldset {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: none;
}
.fieldset label {
  padding: 2px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #0f232e;
}
.fieldset select {
  width: 16vw;
  padding: 5px;
}
.password {
  display: flex;
  align-items: center;
}
.showPasswordIcon {
  padding-left: 10px;
  padding-top: 30px;
}
.readOnlyField {
  cursor: not-allowed;
}
.readOnlyField input {
  background-color: #8f9294;
  opacity: 0.8;
}