tr {
  color: #000;
}

th {
  background-color: #0f232e;
  color: #f7f9ed;
  border: 1px solid;
  border-radius: 10%;
  width: 5vw;
  height: 3vh;
}

td {
  width: 5vw;
  padding: 10px 5px;
  margin: 1px;
  text-align: center;
  border-bottom: 2px solid lightgray;
}

a {
  cursor: pointer;
}
.tdBoxing {
  background-color: #f9a414;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}

.tdCrossfit {
  background-color: #66db72;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}
.tdSpinning {
  background-color: #fddba1;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}
.tdGap {
  background-color: #5074a9;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}
.tdBodybuilding {
  background-color: #af4269;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}
.tdFunctional {
  background-color: #42afa9;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}
.tdBoxing:hover,
.tdCrossfit:hover,
.tdSpinning:hover,
.tdGap:hover,
.tdBodybuilding:hover,
tdFunctional:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  transition: all 400ms ease;
}
.probando {
  width: 8vw;
  height: 4vh;
  border: 1px solid;
  border-radius: 18%;
}

.closed {
  background-color: #9fa7ab;
  border-radius: 15%;
  font-size: small;
  font-weight: bold;
}

.hourTd {
  height: 8vh;
}
.scheduleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scheduleButtonsContainer {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #0b9ee7;
}

.scheduleBlockHour {
  background-color: #f7f9ed;
  color: #0f232e;
}

.scheduleBlockBoxing {
  background-color: #f9a414;
}

.scheduleBlockSpinning {
  background-color: #fddba1;
}

.scheduleBlockGap {
  background-color: #9fa7ab;
}

.scheduleBlockFunctional {
  background-color: #0b9ee7;
}

.scheduleBlockUnavailable {
  background-color: #575555;
  color: red;
}
.clock {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #252725;
  color: #fff;
  width: 22vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.time {
  align-self: center;
}
