.tableClass {
  width: 70vh;
  background-color: #0f232e;
}
button {
  border-radius: 10%;
  border-style: none;
  width: 4vw;
}
.tableInfo td {
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
.classes {
  color: #f9a414;
}
.classes th {
  align-self: flex-start;
}

.btnGeneralEdit {
  margin-right: 10px;
}
